<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <!-- Google Font -->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/index.css">
    <title>Sistem Pakar | Home</title>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow py-3 fixed-top">

        <div class="container">

            <a class="navbar-brand d-flex align-items-center fw-bold fs-4" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="currentColor" class="bi bi-hospital mx-2" viewBox="0 0 16 16">
                <path d="M8.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1zM13.25 9a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25zM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25zm.25 1.75a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25zm-11-4a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 3 9.75v-.5A.25.25 0 0 0 2.75 9zm0 2a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25zM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25z"/>
                <path d="M5 1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 1 1v4h3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h3V3a1 1 0 0 1 1-1zm2 14h2v-3H7zm3 0h1V3H5v12h1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1zm0-14H6v1h4zm2 7v7h3V8zm-8 7V8H1v7z"/>
              </svg> SISTEM PAKAR</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav d-none d-lg-flex flex-row justify-content-end align-items-center w-100">
                    <a class="nav-link" href="https://wa.me/6289650557420?text=Hai%20Arya%2C%20Saya%20ingin%20bertanya%20tentang%20Sistem%20Pakar%20Lambung%2C%20bisa%20tolong%20dibantu%3F">Tanya CS</a>
                    <a class="nav-link" href="/login">
                        <button type="button" class="btn btn-outline-dark rounded-1">Masuk Akun</button>
                    </a>
                    <a class="nav-link" href="/register">
                        <button type="button" class="btn btn-dark rounded-1">Daftar Akun</button>
                    </a>
                </div>
                <div class="navbar-nav d-lg-none justify-content-center w-100">
                    <div class="row w-100">
                        <a class="nav-link d-flex justify-content-center" href="https://wa.me/6289650557420?text=Hai%20Arya%2C%20Saya%20ingin%20bertanya%20tentang%20Sistem%20Pakar%20Lambung%2C%20bisa%20tolong%20dibantu%3F">
                            <div class="row w-75 d-flex justify-content-center">
                                Tanya CS
                            </div>
                        </a>
                    </div>
                    <div class="row w-100">
                        <a class="nav-link d-flex d-flex justify-content-center" href="/login">
                            <div class="row w-75 ">
                                <button type="button" class="btn btn-outline-dark rounded-1">Masuk</button>
                            </div>
                        </a>
                    </div>
                    <div class="row w-100">
                        <a class="nav-link d-flex d-flex justify-content-center" href="/register">
                            <div class="row w-75 ">
                                <button type="button" class="btn btn-dark rounded-1">Daftar</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        </div>

    </nav>
    <!-- Navbar -->

    <!-- Content -->

    <!-- Content 1 -->
    <div class="container">
        <div class="row" style="margin-top: 140px;">

            <div class="col-lg-7 mb-4 mb-lg-0 d-flex flex-column justify-content-center align-items-center">
                <section>
                    <h4 class="fw-bold">SISTEM PAKAR LAMBUNG MANUSIA</h4>
                    <h1 class="my-3 display-5 fw-bold">Diagnosa Sat-Set Gapake Ribet, Ayo Cobain Sekarang!</h1>
                    <p>Pengen cek kesehatan lambung tapi mager keluar rumah? Ayo cek kondisi kesehatan lambungmu
                        sekarang
                        jadi lebih mudah,
                        tanpa harus keluar rumah, semua serba mudah
                        dengan
                        menggunakan metode <i>Forward Chaining</i>.</p>
                    <section class="d-lg-flex d-none">
                        <a href="/login">
                            <button class="btn btn-outline-dark rounded-1">Masuk Akun</button>
                        </a>
                        <a href="/register" class="mx-3">
                            <button class="btn btn-dark rounded-1">Daftar Akun</button>
                        </a>
                    </section>
                    <section class="d-flex flex-column d-lg-none mb-4">
                        <div class="row mb-3">
                            <a href="/login">
                                <button class="btn btn-outline-dark rounded-1  w-100">Masuk Akun</button>
                            </a>
                        </div>
                        <div class="row">
                            <a href="/register">
                                <button class="btn btn-dark rounded-1  w-100">Daftar Akun</button>
                            </a>
                        </div>
                    </section>
                </section>
            </div>
            <div class="col-lg-5 d-flex justify-content-center align-items-center">
                <img src="assets/content1.jpg" alt="doctor.png" class="img-fluid rounded-2"
                    style="max-height: 500px; width: 75%;">
            </div>

        </div>
    </div>
    <!-- Content 1 end -->

    <!-- Content 2 -->
    <div class="container-fluid bg-dark py-5" style="margin: 60px 0;">
        <div class="container">

            <div class="row">

                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <img src="assets/content2.jpg" alt="doctor" class="img-fluid"
                        style="max-height: 500px; width: 75%;">
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <ul class="text-light mt-4 mt-lg-0">
                        <li>Kamu pengen diagnosa lambung kamu, tapi mager banget buat keluar rumah?</li>
                        <li>Kamu pengen diagnosa lambung kamu, tapi gamau banget yang namanya keluar biaya?</li>
                        <li>Kamu pengen diagnosa lambung kamu, tapi perasaan masih ragu-ragu untuk ke Rumah Sakitnya?
                        </li>
                        <li>Kamu pengen diagnosa lambung kamu, tapi gamau ketemu dokternya langsung?</li>
                        <li>Kamu pengen diagnosa lambung kamu, tapi masih sibuk sama kegiatan yang sekarang?</li>
                        <p class="mt-3">Kalau jawabannya iya, mungkin Sistem Pakar ini adalah solusi yang cocok buat
                            kamu untuk diagnosa sekarang!</p>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <!-- Content 2 end -->

    <!-- Content 3 -->
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-6 mt-lg-0 mt-4 order-lg-1 order-2 d-flex justify-content-center align-items-center text-center">
                <section>
                    <h2 class="fw-bold mb-3">Tentang Sistem Pakar</h2>
                    <p>Sistem pakar <i>(expert system)</i>, adalah program komputer yang
                        berisi pengetahuan dari ahlinya (pakar) di bidang tertentu, pengetahuan ini digunakan untuk
                        menyelesaikan masalah layaknya seorang pakar tersebut, dengan kata lain, sistem pakar menyimpan
                        keahlian manusia ke dalam komputer, sehingga komputer
                        bisa memberikan solusi atau saran berdasarkan pengetahuan yang dimilikinya. </p>
                </section>
            </div>
            <div class="col-lg-6 order-lg-2 order-1 d-flex justify-content-center align-items-center">
                <img src="assets/content3.jpg" alt="doctor" class="img-fluid" style="max-height: 390px; width: 100%;">
            </div>
        </div>
    </div>
    <!-- Content 3 end -->

    <!-- Content 4 -->
    <div class="container-fluid py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <img src="assets/content4.jpg" alt="doctor" class="img-fluid"
                        style="max-height: 390px; width: 100%;">
                </div>
                <div class="col-lg-6 mt-lg-0 mt-4 d-flex justify-content-center align-items-center text-center">
                    <section>
                        <h2 class="fw-bold mb-4">Tentang Penyakit Lambung</h2>
                        <p>
                            Penyakit lambung adalah istilah umum yang mengacu pada berbagai kondisi yang memengaruhi
                            organ lambung. Lambung adalah organ pencernaan yang terletak di bagian atas perut. Fungsi
                            lambung adalah untuk menampung makanan, mencampurnya dengan enzim pencernaan, dan kemudian
                            mengeluarkannya ke usus halus.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- Content 4 end -->

    <!-- Content 5 -->
    <div class="container-fluid py-4">
        <div class="container">

            <div class="row">

                <div class="col-lg-6 mt-lg-0 mt-4 order-lg-1 order-2 d-flex justify-content-center align-items-center">
                    <section>
                        <h5 class="fw-bold">Yuk, Cobain Sekarang!</h5>
                        <p>Aksesnya bisa kapan saja, dan dimana saja, semuanya gratis dan bisa digunakan berulang-kali
                            semau kamu.</p>
                        <ul>
                            <li>Buat dulu akunnya, lalu kamu bisa langsung coba.</li>
                            <li>Jika sudah punya akunnya, kamu bisa langsung masuk akun, dan coba hingga berulang kali.
                            </li>
                            <li>Sistem Pakar ini kami buat dengan sederhana, masih banyak kekurangan di dalamnya.</li>
                        </ul>
                    </section>
                </div>
                <div class="col-lg-6 order-lg-2 order-1 d-flex justify-content-center align-items-center">
                    <img src="assets/content5.jpg" alt="doctor" class="img-fluid"
                        style="max-height: 400px; width: 90%;">
                </div>
            </div>

        </div>
    </div>
    <!-- Content 5 end -->

    <!-- Content -->

    <!-- Footer -->
    <div class="container-fluid bg-dark" style="margin-top: 50px;">
        <div class="container p-4 text-light d-flex justify-content-center align-items-center">
            <section class="text-center">
                <h6 style="letter-spacing: 0.1em;">Made With <svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                    </svg></h6>
                <h6 style="letter-spacing: 0.1em;">Fakultas Ilmu Komputer</h6>
                <h6 style="letter-spacing: 0.2em;">Universitas Al-Khairiyah</h6>
                <h6 style="letter-spacing: 0.1em;">Cilegon-Banten<sup>&copy;</sup>
                </h6>
            </section>
        </div>
    </div>
    <!-- Footer end -->

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- Bootstrap -->
</body>

</html>
</body>

</html>