body {
    font-family: "Ubuntu", sans-serif;
}

nav {
    letter-spacing: 0.1em;
}

.row {
    line-height: 2.1em;
}

a {
    text-decoration: none;
}

img {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}