<%- include('../partials/form/header') %>

    <div class="container d-flex justify-content-center align-items-center">
        <main class="shadow rounded-3 p-5">
            <h2 class="text-center">Apakah kamu merasa nyeri di tulang dada?</h2>
            <form action="/g17" method="post">
                <section class="d-flex my-5 justify-content-center align-items-center">
                    <div class="mb-3 form-check">
                        <input type="radio" name="jawaban" class="form-check-input" id="y" value="y" required checked>
                        <label for="y" class="form-check-label">Ya</label>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="radio" name="jawaban" id="t" value="t" required class="form-check-input">
                        <label for="t" class="form-check-label">Tidak</label>
                    </div>
                </section>
                <div class="row">
                    <button type="submit" class="btn btn-dark rounded-1">Selanjutnya</button>
                </div>
            </form>
        </main>
    </div>

    <%- include('../partials/form/footer') %>